.App {
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  
}


.Add {
  background: #65aa06;
  margin-top: 5px;
}

.Delete {
    background: #d30100;
    margin-bottom: 5px;
}

button {
  padding: 10px;
  border: none;
  width: 70%;
  color: white;
  font-size: 16px;
  }

  input {
    flex: 1;
    padding: 8px;
    margin: 10px;
  }

.container {
 display: flex;
 justify-content: center;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}


ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}